[user]
	email = dkimisima@gmail.com
	name = diogokimisima
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/node /tmp/vscode-remote-containers-ca46b03c-e141-4270-afe3-e49711456574.js git-credential-helper $*; }; f"
