[user]
	email = dkimisima@gmail.com
	name = diogokimisima
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/b1c0a14de1414fcdaa400695b4db1c0799bc3124/node /tmp/vscode-remote-containers-9382b91d-f8bb-4635-a750-29da31437031.js git-credential-helper $*; }; f"
